.circle {
    width: 5%;
    height: 10%;
    position: absolute;
    background-color: yellow;
    opacity: 0.5;
    border: 1px solid red;
    border-radius: 50%;
}

.miss {
    position: absolute;
}

@keyframes shrink {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(0);
    }
}
